
body {
  font-family: 'Muli', Sans-Serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', Serif;
  letter-spacing: 4px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}
