@import 'variables';
@import '_fonts';
@import 'container';
@import 'footer';

a {
  text-decoration: none;
  color: inherit;
}

.holygrail,
.holygrail-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.holygrail-nav {
  order: -1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $cream;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ul {
    padding: 0 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    li {
      a {
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .holygrail-body {
    flex-direction: row;
    flex: 1;
  }

  .holygrail-content {
    width: 75%;
  }

  .holygrail-nav {
    width: 25%;
    height: 100vh;
  }
}
