@import 'variables';
@import '_fonts';
@import 'container';
@import 'footer';
@import 'sidebar';
@import 'burger';
@import 'portfolio';
@import 'contact';

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $cream;
}

.holygrail,
.holygrail-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $darkGrey;
}

.holygrail-nav {
  order: -1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $darkGrey;
  color: $grey;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .holygrail-body {
    flex-direction: row;
    flex: 1;
  }

  .holygrail-content {
    width: 70%;
  }

  .holygrail-nav {
    width: 30%;
    height: 100vh;
  }
}

.link {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .portfolio {
    width: 90vw;

    .project-banner {
      flex-direction: column-reverse;

      .left {
        padding: 10px;

        .actions {
          align-self: center;
        }
      }

      .project-image {
        width: 100%;
      }
    }
  }

  .next-button {
    display: none;
  }

  .burger {
    display: flex;
  }

  body.open {
    overflow: hidden;
  }

  .holygrail-body {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }

  .holygrail-content {
    width: 100%;
  }

  .holygrail-nav {
    position: fixed;
    width: 100%;
    margin-left: -101%;
    transition: margin-left 0.5s;
    height: 100vh;

    &.open {
      margin-left: 0;
    }
  }
}
