@import 'variables';
@import '_fonts';
@import 'container';
@import 'footer';
@import 'sidebar';
@import 'burger';

a {
  text-decoration: none;
  color: inherit;
}

.holygrail,
.holygrail-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $cream;
  color: $darkGrey;
}

.holygrail-nav {
  order: -1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $darkGrey;
  color: $grey;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .holygrail-body {
    flex-direction: row;
    flex: 1;
  }

  .holygrail-content {
    width: 70%;
  }

  .holygrail-nav {
    width: 30%;
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .burger {
    display: flex;
  }

  .holygrail-body {
    flex-direction: row;
    flex: 1;
  }

  .holygrail-content {
    width: 100%;
  }

  .holygrail-nav {
    position: fixed;
    width: 70%;
    margin-left: -70%;
    transition: margin-left 0.5s;
    height: 100vh;

    &.open {
      margin-left: 0;
    }
  }
}
