$grey: #d0ccd0;
$cream: #fbfcff;
$darkGrey: #605856;
$darkerGrey: #514a48;
$blue: #1c6e8c;
$accentBlue: #274156;
$boxShadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8);
$boxShadowInset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
