doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Merriweather|Muli:300" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet")
    title Justin Emmanuel Mercado | EJ Mercado
  body
    include includes/burger
    .holygrail-body
      main.holygrail-content
        include includes/content
      nav.holygrail-nav
        include includes/profile-picture
        include includes/sidebar
        div.whole-footer 
          include includes/contact-details
          include includes/footer