.container
  .container-holder
    h1.container-header Hey There!
    .container-content
      .about-text
        p I'm a fullstack web developer and I've been developing websites since 2016, from jQuery and PHP to AngularJS and Node.
        p I've also configured VPS' for hosting sites and continous deployment with CircleCI and AWS CodeDeploy, which means I could take your site from design to live.
      .skills
        .skills-list
          h4 Technologies
          .programming-skills
            span.skill-icon
              i.fas.fa-code.fa-2x
            span.skills-items AngularJS, PHP, React, jQuery, Bootstrap, Bulma, Node, Express, Pug, SASS
          .miscellaneous-skills
            span.skill-icon
              i.fas.fa-server.fa-2x
            span.skills-items MySQL, Linux, AWS, Git, NPM, Apache, Nginx
    a(href="#portfolio")
      button.next-button
        i.fas.fa-arrow-down