.container
  .container-holder
    h1.container-header Hey There!
    .container-content
      .about-text
        | I'm a web developer based in the Philippines.
        | I've been developing software for 2+ years now.
        | I've been developing software for 2+ years now.
        | I've been developing software for 2+ years now.
        | I've been developing software for 2+ years now.
        | I've been developing software for 2+ years now.
        | I've been developing software for 2+ years now.
        | 
  .button-container
    button.next-button
      i.fas.fa-arrow-down