.container
  .container-holder
    h1.container-header Hey There!
    .container-content
      .about-text
        p I'm a fullstack web developer and I've been developing websites since 2016, from jQuery and PHP to AngularJS and Node.
        p I've also configured VPS' for hosting sites and continous deployment with CircleCI and AWS CodeDeploy, which means I could take your site from design to live.
      .skills
        h4 Technologies
          .technologies-holder
            each val, index in ['angular', 'linux', 'bootstrap', 'css', 'express', 'html', 'jquery', 'js', 'mysql', 'nginx', 'node', 'php', 'pug', 'react', 'sass', 'circle', 'aws',]
              div(class='skill-logo ' + val)
                img(src="./images/new/" + val + ".png")
    a(href="#portfolio")
      button.next-button
        i.fas.fa-arrow-down