.container
  .container-holder
    h1.container-header Hey There!
    .container-content
      .about-text
        p I'm a web developer based in the Philippines.
          |  I've been developing websites since 2016, from jQuery and Wordpress to AngularJS and Node.
        p I've also configured VPS' for hosting sites and continous deployment with CircleCI and AWS CodeDeploy, which means I could take your site from design to live.
        p My usual development process revolves around setting up the front end with a framework, and setting up an API with Node or PHP with a MySQL database. 
      .skills
        .skills-list
          h4 I have experience with the following technologies
          .programming-skills
            span.skill-icon
              i.fas.fa-code.fa-2x
            span.skills-items AngularJS, PHP, React, jQuery, Bulma, Node, Bootstrap, Pug, SASS
          .miscellaneous-skills
            span.skill-icon
              i.fas.fa-server.fa-2x
            span.skills-items MySQL, Linux, AWS, Git, NPM
    a(href="#portfolio")
      button.next-button
        i.fas.fa-arrow-down