.contact-details
  p Check out my profiles below
  span.contact-link
    i.fas.fa-at
    a(href="mailto:ej@ejmercado.com").link  ej@ejmercado.com
  span.contact-link
    i.fab.fa-codepen
    a(href="https://codepen.io/ejmercado/").link  CodePen
  span.contact-link 
    i.fab.fa-github
    a(href="https://github.com/justinemmanuelmercado").link  Github
  span.contact-link
    i.fab.fa-linkedin
    a(href=" https://www.linkedin.com/in/justin-emmanuel-mercado-178786a8/").link  LinkedIn
  span.contact-link
    i.fas.fa-file-download
    a(href="https://drive.google.com/open?id=1CHQb_Uq8Hyg8WdMbdet4ehed94AcHFdu").link  Get my resume!
  span.send-me
    div Send me a message on 
      span.tooltip-holder
        span.tooltip-hover Hangouts
        span.tooltip justinemmanuelmercado@gmail.com
      |  or 
      span.tooltip-holder
        span.tooltip-hover Skype
        span.tooltip ej@ejmercado.com