.contact-container
  .contact-content
    div Need help?
    a(href="mailto:ej@ejmercado.com")
      .email-button SEND ME AN EMAIL
  .contact-footer
    span.contact-link
      a(href="https://codepen.io/ejmercado/") CodePen
    span.contact-link
      a(href="https://github.com/justinemmanuelmercado") Github
    span.contact-link
      a(href=" https://www.linkedin.com/in/justin-emmanuel-mercado-178786a8/") LinkedIn
      