.contact-details
  span.contact-link
    i.fas.fa-at
    a(href="mailto:ej@ejmercado.com")  ej@ejmercado.com
  span.contact-link
    i.fab.fa-codepen
    a(href="https://codepen.io/ejmercado/")  https://codepen.io
  span.contact-link 
    i.fab.fa-github
    a(href="https://github.com/justinemmanuelmercado")  https://github.com
  span.contact-link
    i.fab.fa-linkedin
    a(href=" https://www.linkedin.com/in/justin-emmanuel-mercado-178786a8/")  https://linkedin.com
  span.send-me
    div Send me a message on 
      span.tooltip-holder
        span.tooltip-hover Hangouts
        span.tooltip justinemmanuelmercado@gmail.com
      |  or 
      span.tooltip-holder
        span.tooltip-hover Skype
        span.tooltip ej@ejmercado.com