.container
  .container-holder
    h1.container-header Let's Talk Work
    .container-content
      .portfolio-precede
        p I've done a few projects but I would like to highlight the three biggest projects that molded my developer experience.
      .portfolio
        .project
    a(href="#contact")
      button.next-button
        i.fas.fa-arrow-down