.container
  .container-holder
    h1.container-header Let's Talk Work
    .container-content
      .portfolio-precede
        p I've done a few projects but I would like to highlight the three biggest projects that molded my developer experience.
      .portfolio
        .project
          .project-title
            h1 Numo Finance
            h4 https://numo.finance
          .project-description
            p A project I worked on that started from PSD files and ideas. Numo connects small businesses with established lenders and suggests plans based on an initial survey of the business's requirements.
            p This was the first fullstack project I worked on and it challenged me because I had no prior professional experience with APIs, storing data in the backend or deploying a website to production. 
            p During development I wore different hats including main back end developer, front end development lead, database administrator and server architect.
            p After 6 months and the first version was live on production I learned much of the basics of web development, from how that front end interacts with the back end to how to perform CRON jobs that emails customers regularly.
            p During the 2 months after the initial product launch, I continued working on the project, creating the admin side for Numo until I was transferred to different projects all involving working from flat design files to working web apps, 
    a(href="#contact")
      button.next-button
        i.fas.fa-arrow-down