//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not '../images/image.jpg'

.nav-container
  a(href="#about").nav-item.active 
    span.text-holder ABOUT
  a(href="#portfolio").nav-item 
    span.text-holder PORTFOLIO
  a(href="#contact").nav-item 
    span.text-holder CONTACT